* {
  margin: 0;
  padding: 0;
}
:root {
  --color-background: #ffffff;
  --color-grey: #757575;
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-almost-black: #212121;
  --color-header-footer: #2f303a;
  --color-third-header-button: #f5f4fa;
  --color-img-border: #eeeeee;
}
body {
  position: relative;
  width: 1600px;
  height: 2931px;
  background: var(--color-background);
  font-family: 'Roboto', sans-serif;
  color: var(--color-grey);
}
.menu {
  width: 1600px;
  height: 80px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  border-bottom: 1px #ececec;
  display: flex;
}
.container {
  max-width: 1200px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 200px;
}
.principal {
  flex-direction: row;
}
.logo {
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.03em;
  color: var(--color-black);
  text-decoration: none;
  font-family: 'Raleway';
  padding-top: 24px;
  padding-bottom: 25px;
}
.web {
  color: var(--color-blue);
}
.navigation {
  width: 254px;
  margin-top: 32px;
  margin-left: 93px;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation ul li a {
  float: left;
  color: var(--color-almost-black);
}

.navigation ul li a:focus,
.navigation ul li a:hover,
.navigation ul li a:active {
  color: var(--color-blue);
}
.agency {
  width: 53px;
  font-weight: 500;
  text-decoration: none;
}
.portfolio {
  padding-left: 46px;
  text-decoration: none;
}
.contact {
  padding-left: 46px;
  width: 51px;
  text-decoration: none;
}
/*finish navigation*/
.email {
  width: 135px;
  color: var(--color-grey);
  text-decoration: none;
  padding-top: 32px;
}
.email:hover,
.email:focus {
  color: var(--color-blue);
}
.envelope {
  margin-left: 361px;
  margin-right: 10px;
}
.telephone {
  width: 110px;
  color: var(--color-grey);
  text-decoration: none;
  padding-top: 32px;
}
.telephone:hover,
.telephone:focus {
  color: var(--color-blue);
}
.smartphone {
  margin-left: 40px;
  margin-right: 10px;
}
.smartphone:hover,
.smartphone:focus {
  color: var(--color-blue);
}
/*finish menu*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.header {
  margin-left: -200px;
  width: 1600px;
  height: 600px;
  background: var(--color-header-footer);
  text-align: center;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 106px;
  padding-bottom: 116px;
}
.main-header {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--color-background);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.header .button {
  width: 200px;
  height: 50px;
  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: var(--color-blue);
  border-radius: 4px;
}
.service {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--color-background);
}
/*finish header*/
.attributes {
  width: 1170px;
  height: 251px;
  display: flex;
  box-sizing: content-box;
  padding-bottom: 0;
}
.attributes ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  list-style: none;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.attributes ul li .wrapper{
  display: flex;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  justify-content: center;
}
.wrapper svg{
  padding-left: 100px;
}
.attributes ul li {
  width: 270px;
}
.attributes-text {
  text-transform: uppercase;
  color: var(--color-almost-black);
  line-height: 1.71;
  font-weight: 700;
}
.attributes ul li .attributes-text {
  line-height: 1.46;
}
.attributes ul li p {
  padding-top: 10px;
  margin-bottom: 0;
}
/*finish atributes*/
.work {
  width: 1170px;
  box-sizing: content-box;
}
.work-title {
  width: 352px;
  padding-left: 409px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-almost-black);
}
.work ul {
  list-style: none;
  padding: 0;
}
.work ul li {
  margin-top: 50px;
}
.computer {
  float: left;
}
.phone,
.tablet {
  float: left;
  margin-left: 30px;
}
/*finish work*/
.our-team {
  width: 1600px;
  background: var(--color-third-header-button);
  margin-left: -200px;
  display: flex;
  justify-content: center;
}
.block-title {
  width: 210px;
  padding-left: 480px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  white-space: nowrap;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-almost-black);
}
.our-team ul {
  width: 1170px;
  list-style: none;
  margin-top: 50px;
}
.our-team ul li {
  width: 270px;
  min-height: 368px;
  float: left;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--color-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team {
  margin-left: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--color-almost-black);
  margin-top: 30px;
  margin-bottom: 10px;
}
.job {
  width: 130px;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 30px;
}
/*finish our team*/
.footer {
  position: absolute;
  width: 1600px;
  background: var(--color-header-footer);
  letter-spacing: 0.03em;
}
.container.last {
  flex-direction: column;
}
.logo-bottom {
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--color-blue);
  text-decoration: none;
  margin-top: 65px;
}
.studio {
  color: var(--color-background);
}
.address,
.address:focus {
  width: 246px;
  height: 81px;
  margin-bottom: 55px;
  margin-top: 20px;
}
.address ul {
  list-style: none;
  font-size: 14px;
  margin-top: 20px;
}
.address ul li:nth-child(2),
.address ul li:nth-child(3) {
  padding-top: 9px;
}
.address ul li a:focus,
.address ul li a:hover,
.address ul li a:active {
  color: rgba(255, 255, 255, 0.6);
}
.location a {
  width: 246px;
  white-space: nowrap;
  color: var(--color-background);
  text-decoration: none;
}
.contact-link a {
  width: 231px;
  color: var(--color-background);
  text-decoration: none;
}
.contact-tel a {
  position: absolute;
  width: 231px;
  color: var(--color-background);
  text-decoration: none;
}
/*finish footer*/

/*portfolio*/
.portfolio-page {
  box-sizing: content-box;
  width: 1170px;
  height: 1360px;
  background: var(--color-background);
  color: var(--color-almost-black);
}
.filters {
  display: flex;
  margin-left: 295px;
  width: 572px;
  text-align: center;
  justify-content: space-between;
}
.filters li {
  list-style: none;
  text-align: center;
  font-size: 1.62em;
}
.filters li button:active,
.filters li button:focus,
.filters li button:hover {
  background-color: var(--color-blue);
  color: var(--color-background);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.filters li button {
  background-color: var(--color-third-header-button);
  border: none;
  border-radius: 4px;
  width: 108px;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  font-weight: 500;
  padding: 6px;
}
.filters li .all:active {
  background-color: var(--color-blue);
  color: white;
}
/*finish filters*/
.main-box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  margin: 0;
  min-width: 1200px;
  padding-left: 15px;
}
.main-box li {
  list-style: none;
  border: 1px solid var(--color-third-header-button);
}
.main-box li .box-img {
  margin: 0;
  height: 404px;
}
.main-box li .box-img img {
  width: 370px;
}
.box-img-title {
  width: 322px;
  letter-spacing: 0.06em;
  padding: 20px 24px;
  box-sizing: content-box;
}
.box-img-title h3 {
  width: 322px;
  font-size: 18px;
  line-height: 2;
}
.box-img-title p {
  color: var(--color-grey);
  padding-top: 4px;
  font-size: 16px;
  line-height: 1.88;
  width: 322px;
}
